{% extends 'prms/dashboards/base.html' %}
{% load static %}
<html lang="en">

            <!-- MAIN CONTENT-->
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h2 class="title-1 m-b-25">Inventory</h2>
        <div class="table-responsive table--no-card m-b-40">
            <table class="table table-borderless table-striped table-earning">
                <thead>
                    <tr>
                        <th>term</th>
                        <th>definition</th>
                        <th>more</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>2018-09-29 05:57</td>
                        <td>100398</td>
                        <td><i class="fas fa-arrow-right"></i></td>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}


    <!-- end document-->

</html>
<!-- end document-->
